pip==25.2
setuptools>=69.0.0
wheel
scikit-learn==1.6.1
torchvision  
torchaudio
pymongo
passlib
python-jose[cryptography]
fastapi==0.104.1
uvicorn[standard]==0.24.0
torch
numpy==1.24.3
pydantic==2.5.0
requests==2.31.0
apscheduler==3.10.4
pandas==2.0.3